.teamWrapper {
  margin-top: 50px;
}
.container {
  --container: 1160px;
  max-width: var(--container);
  margin: auto;
}
.teamGrid {
  display: grid;
  grid-template-columns: 32.33% 32.33% 32.33%;
  column-gap: 5%;
}


@media (max-width: 1024px) {
  .teamGrid {
    grid-template-columns: 50% 50%;
  }
  .container{
    --container: 90vw;
    max-width: var(--container);
    padding-left: 24px;
    padding-right: 24px;
  }
}

@media (max-width: 600px) {
  .teamGrid {
    grid-template-columns: 100% ;
  }
  .container{
    --container: 90vw;
    max-width: var(--container);
    padding-left: 24px;
    padding-right: 24px;
  }
  }
