.upper-dashboard-main {
    display: flex;
    gap: 10px;
    margin-top: 25px;
    flex-wrap: wrap;
}

.upper-dashboard-main > * {
    flex: 1 1 0px;
}

.upper-dashboard-main-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.doughut-wrapper {
    box-sizing: content-box;
    max-height: 320px;
    width: 400px;
    margin: 0 auto;
    padding: 10px;
    border: 1px solid #bbb;
}

.doughut-wrapper canvas {
    margin-inline: auto;
}

/* recent activity */

.recent-activity-container {
    overflow-y: scroll;
    max-height: 320px;
    width: 400px;
    margin-inline: auto;
    border: 1px solid #bbb;
    padding: 10px;
}

.recent-activity-container h2 {
    margin-bottom: 15px;
}
