.page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  /* background-color: #f2f2f2; */
}

.texthome {
  font-size: 3em;
  font-weight: bold;
  text-transform: uppercase;
  color: blue;
  animation: fade-in 1s ease forwards;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
  width: 30%;
}

.card img {
  width: 100%;
  height: auto;
  max-width: 100%;
  
}


.pagebody {
  display: flex;
  justify-content: center;
  align-items: center;
  /* background: #16384c; */
  height: 735px;
}

.container {
  position: relative;
  width: 1100px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 30px;
}

.card {
  position: relative;
  max-width: 300px;
  height: 200px;
  background-color: rgb(194, 191, 191);
  margin: 30px 10px;
  padding: 20px 15px;
  flex-direction: column;
  /* box-shadow: 0 5px 200px rgba(0, 0, 0, 5); */
  transition: 0.3px ease-in-out;
}

.card:hover {
  height: 420px;
  transition: 0.5s;
}

.imgbox {
  position: relative;
  width: 260px;
  height: 260px;
  top: -60px;
  left: -20px;
  z-index: 1;
  /* box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2); */
}

img{
  max-width: 100%;
  /* border-radius: 4px; */
}

.content {
  position: relative;
  margin-top: -140px;
  padding: 18px 15px;
  text-align: center;
  /* color: #111; */
  visibility: hidden;
  opacity: 0;
  transition: 0.3 ease-in-out;
}

.card:hover .content{
  visibility: visible;
  opacity: 1;
  margin-top: -40px;
  transition-delay: 0.3s;
  
}


.uiverse {
  position: relative;
  background: blue;
  color: #ffffff;
  padding: 15px;
  margin: 10px;
  border-radius: 10px;
  width: 150px;
  height: 50px;
  font-size: 17px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.tooltip {
  position: absolute;
  top: 0;
  font-size: 14px;
  background: blue;
  color: #ffffff;
  padding: 5px 8px;
  border-radius: 5px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.tooltip::before {
  position: absolute;
  content: "";
  height: 8px;
  width: 8px;
  background: blue;
  bottom: -3px;
  left: 50%;
  transform: translate(-50%) rotate(45deg);
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.uiverse:hover .tooltip {
  top: -45px;
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

svg:hover span,
svg:hover .tooltip {
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.1);
}

.uiverse:hover,
.uiverse:hover .tooltip,
.uiverse:hover .tooltip::before {
  background: linear-gradient(320deg, rgb(3, 77, 146), rgb(0, 60, 255));
  color: #ffffff;
}