:root {
    --sidebar-color: #FFF;
    --toggle-color: #DDD;
    --main: #F6F8FA;
    --accent: #369fff;
    --black: #333;
    --accent-derv: #69B7FF;
    --gray: #707070;
    
    /* Transition */
    --tran-02: all 0.2s ease;
    --tran-03: all 0.3s ease;
}

body {
    background-color: var(--main);
    transition: var(--tran-05);
}

::selection {
    background-color: var(--accent);
    color: #fff;
}

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 250px;
    padding: 10px 14px;
    background: var(--sidebar-color);
    transition: var(--tran-05);
    z-index: 100;
}

.sidebar.close {
    width: 88px;
}

.sidebar li {
    height: 50px;
    list-style: none;
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.sidebar .head .image,
.sidebar .icon {
    min-width: 60px;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
}

.sidebar .icon {
    height: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
}

.sidebar .text,
.sidebar .icon {
    color: var(--gray);
    transition: var(--tran-03);
}

.sidebar .text {
    font-size: 1rem;
    font-weight: 500;
    white-space: nowrap;
    opacity: 1;
}

.sidebar.close .text {
    opacity: 0;
}

.sidebar .head {
    position: relative;
}

.sidebar .head .image-text {
    display: flex;
    align-items: center;
}

.sidebar .head .logo-text {
    display: flex;
    flex-direction: column;
}

.head .image-text .name {
    margin-top: 2px;
    font-size: 18px;
    font-weight: 600;
}

.head .image-text .profession {
    font-size: 16px;
    margin-top: -2px;
    display: block;
}

.sidebar .head .image {
    display: flex;
    align-items: center;
    justify-content: center;
}

.sidebar .head .image img {
    width: 40px;
    border-radius: 6px;
}

.sidebar .head .toggle {
    position: absolute;
    top: 50%;
    right: -25px;
    transform: translateY(-50%) rotate(180deg);
    height: 25px;
    width: 25px;
    background-color: var(--accent);
    color: var(--sidebar-color);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 22px;
    cursor: pointer;
    transition: var(--tran-05);
}

.sidebar.close .toggle {
    transform: translateY(-50%) rotate(0deg);
}

.sidebar .menu {
    margin-top: 40px;
}

.sidebar li a {
    list-style: none;
    height: 100%;
    background-color: transparent;
    display: flex;
    align-items: center;
    height: 100%;
    width: 100%;
    border-radius: 6px;
    text-decoration: none;
    transition: var(--tran-03);
}

.sidebar .active {
    background-color: var(--accent) !important;
}

.sidebar .active>.icon,
.sidebar .active>.text {
    color: white;
}

.sidebar li a:hover {
    background-color: var(--accent);
}

.sidebar li a:hover .icon,
.sidebar li a:hover .text {
    color: var(--sidebar-color);
}

.sidebar .menu-bar {
    height: calc(100% - 55px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow-y: scroll;
}

.menu-bar::-webkit-scrollbar {
    display: none;
}

.menu-bar .bottom-content .toggle-switch {
    position: absolute;
    right: 0;
    height: 100%;
    min-width: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 6px;
    cursor: pointer;
}

.home {
    position: absolute;
    top: 0;
    top: 0;
    left: 250px;
    height: 100vh;
    width: calc(100% - 250px);
    background-color: var(--main);
    transition: var(--tran-05);
}

.home .text {
    font-size: 30px;
    font-weight: 500;
    color: var(--gray);
    padding: 12px 60px;
}

.sidebar.close~.home {
    left: 78px;
    height: 100vh;
    width: calc(100% - 78px);
}

@media (max-width: 768px) {
    .sidebar.close {
        display: none;
    }

    .sidebar.close img {
        display: none;
    }

    .sidebar {
        width: 100vw;
    }
}