.signup-title{
    font-size: 60px;
    text-align: center;
    color:#efb100;
}
.signup-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }  
  .card {
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    padding: 20px;
    width: 50%;
  }
  
.card h2{
    font-size: 25px;
    text-align: left;
    text-decoration:underline;
    color:#efb100;
}
.card label{
    cursor: pointer;  
    font-size: 20px;
}

.card, .input-email{
    cursor:pointer;
}
.form-group{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 10px;
}
.label-input{
    width: 43%;
}
  
  

@media (max-width: 992px) and (min-width: 280px){
    .signup-title{
        display: none;
    }
    .card h2{
        font-size: 19px;
        text-align: center;
        color:#efb100;
    }
    .card label{
        justify-content: right;
        align-items:flex-start;
        text-align: start;
        font-size: 15px;
    }
    .card ,.input-email{
        font-size: 15px;
    }
    .form-group{
        justify-content: center;
        align-items: center;
        text-align: center;
        display: flex;
        flex-direction: column;  
    }
}
  
   