.MuiBox-root.css-1v9ebjv {
    margin-top: 75px;
}

.MuiPaper-root>.MuiToolbar-root {
    background: var(--accent);
    color: #fff;
}

.MuiSvgIcon-root:hover,
.MuiButtonBase-root:hover {
    color: #000 !important;
}

.MuiPaper-root>.MuiToolbar-root .MuiButtonBase-root,
.MuiPaper-root>.MuiToolbar-root .MuiSvgIcon-root {
    color: #fff;
}